src/main/mule/deleteflow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="68194ab2-a60b-4fe4-b41d-5a0c62bfbf14" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="root" database="muesoft1" />
	</db:config>
	<flow name="deleteflowFlow" doc:id="ed3e1815-808d-44ef-a2f3-4711fcaf25e8" >
		<db:delete doc:name="Delete" doc:id="2fb647d0-2e77-4abf-98fb-4e3f29735a7b" config-ref="Database_Config">
			<db:sql ><![CDATA[delete from account where accountid=:id]]></db:sql>
			<db:input-parameters ><![CDATA[#[
{ 

id:attributes.queryParams.id
}



]]]></db:input-parameters>
		</db:delete>
		<ee:transform doc:name="Transform Message" doc:id="954e2f7d-83a2-4046-9588-bacac2c94a51">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---


 payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="193491c7-6ab8-46ff-9b23-59899b101219" message="Final response is       #[payload]"/>
	</flow>
</mule>
